
    <div data-bs-spy="scroll" data-bs-target="#navbarscr" data-bs-smooth-scroll="true" class="scrollspy-example-2 p-2 d-flex text-bg-dark" tabindex="0">
    <div class="row">
    <div id="scrollspyHeading1" class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Iguazu.jpg" class="card-img-top">
       
        <div class="card-body">
          <p class="card-text">IGUAZU</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">Desde 20 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Elcalafate.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">El CALAFATE</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 20 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/jujuy.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">JUJUY</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 20 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div id="scrollspyHeading2" class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Brasil.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">BRASIL</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 90 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Mexico.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">MEXICO</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 90 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Peru.jpg" class="card-img-top">

        <div class="card-body">
          <p class="card-text">PERU</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 90 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div id="scrollspyHeading3" class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Belgica.jpg" class="card-img-top">

        <div class="card-body">
          <p class="card-text">BELGICA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 120 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Francia.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">FRANCIA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 120 Usd</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm">
        <img src="./assets/Italia.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">ITALIA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
            </div>
            <small class="text-muted">Desde 120 Usd</small>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>