<div class="container">
  <div class="row">
    <app-toolbar class="toolbar"></app-toolbar>
  </div>
  <div class="row">
    <div class="col-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-10">
      <div class="row">
        <app-lista-cursos class="cursos"></app-lista-cursos>
      </div>
      <div class="row">
        <app-lista-cursos2 class="cursos"></app-lista-cursos2>
      </div>
      <div class="row">
        <app-lista-curso-promise class="cursos"></app-lista-curso-promise>
      </div>
      <div class="row">
        <app-lista-cursos-pipeasync class="cursos"></app-lista-cursos-pipeasync>
      </div>
    </div>
  </div>
</div>
