
    <div class="d-flex flex-column p-3 text-bg-dark" style="height: 100%;width: 100%;">
    <nav id="navbarscr" >
      <hr>
      <nav class="nav nav-pills flex-column" >
          <a href="#" class="nav-link" class="nav-link text-white">
            Inicio
          </a>
          <a href="#scrollspyHeading1" class="nav-link text-white">
            Argentina
          </a>
          <a href="#scrollspyHeading2" class="nav-link text-white">
            America
          </a>
          <a href="#scrollspyHeading2" class="nav-link text-white">
            Europa
          </a>
        </nav>
      <hr>
    </nav>
</div>